In [ ]:
#@title #Importing libraries & uploading csv file
#Importing libraries & uploading csv file

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [ ]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [ ]:
#@title #Extracting individual CSVs from main CSV
#Importing libraries & uploading csv file

In [ ]:
demographic_ind = pd.read_csv("/content/drive/MyDrive/Demographic_Indicators_Medium.csv") 
demographic_ind.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

   SortOrder  LocID Notes ISO3_code ISO2_code  SDMX_code  LocTypeID LocTypeName  ParentID Location  VarID Variant  Time  TPopulation1Jan  TPopulation1July  TPopulationMale1July  TPopulationFemale1July  PopDensity  PopSexRatio  MedianAgePop  NatChange  NatChangeRT  PopChange  PopGrowthRate  DoublingTime      Births  Births1519     CBR     TFR     NRR     MAC    SRB     Deaths  DeathsMale  DeathsFemale     CDR      LEx  LExMale  LExFemale     LE15  LE15Male  LE15Female     LE65  LE65Male  LE65Female    LE80  LE80Male  LE80Female  InfantDeaths       IMR  LBsurvivingAge1  Under5Deaths        Q5     Q0040  Q0040Male  Q0040Female     Q0060  Q0060Male  Q0060Female     Q1550  Q1550Male  Q1550Female     Q1560  Q1560Male  Q1560Female  NetMigrations  CNMR
0          1    900   NaN       NaN       NaN        1.0          1       World         0    World      2  Medium  1950      2477674.732       2499322.157           1245362.964             1253959.192     19.1661      99.3145       22.2243  43294.722       17.319  43294.850          1.732       40.0200   92083.258   10629.041  36.837  4.8596  1.6382  28.945  105.4  48788.536   25784.509     23004.027  19.518  46.4643  44.5946    48.4411  47.0395   44.8310     49.3734  11.2965   10.4672     12.0390  5.0199    4.7308      5.2236     13109.145  143.3869        82837.349     19780.141  224.0098  371.9932   388.9779     354.7482  540.3848   580.7496     498.0396  240.3164   271.6253     208.1916  378.6968   430.2594     324.9308            0.0   0.0
1          1    900   NaN       NaN       NaN        1.0          1       World         0    World      2  Medium  1951      2520969.582       2543130.380           1267473.182             1275657.198     19.5020      99.3584       22.1716  44322.348       17.427  44321.597          1.743       39.7675   92836.900   10741.899  36.502  4.8269  1.6430  28.910  105.4  48514.552   25505.184     23009.368  19.075  47.1440  45.4026    48.9655  47.5028   45.4710     49.6263  11.3369   10.5123     12.0705  5.0145    4.7347      5.2121     13086.528  141.3090        83648.709     19825.046  219.1188  361.8185   375.8295     347.6746  529.1551   566.7283     490.1993  231.1772   258.0905     203.7797  368.3186   415.8362     319.3364            0.0   0.0
2          1    900   NaN       NaN       NaN        1.0          1       World         0    World      2  Medium  1952      2565291.179       2590270.898           1291399.982             1298870.917     19.8635      99.4248       22.1083  49960.072       19.283  49959.439          1.929       35.9330   97606.684   11231.717  37.672  5.0142  1.7300  28.980  105.4  47646.612   24935.224     22711.388  18.389  48.2311  46.6241    49.8908  48.2552   46.4167     50.1512  11.5593   10.7121     12.3094  5.1412    4.8431      5.3525     13215.704  137.2952        88207.529     19875.696  212.1977  347.2697   357.6730     336.8354  512.1586   546.3173     477.2639  218.6745   240.0344     197.1422  353.0546   395.5327     309.9103            0.0   0.0
3          1    900   NaN       NaN       NaN        1.0          1       World         0    World      2  Medium  1953      2615250.618       2640278.797           1316659.222             1323619.574     20.2470      99.4741       22.0364  50056.756       18.959  50056.357          1.896       36.5584   97555.839   11200.749  36.948  4.9366  1.7170  28.928  105.4  47499.083   24806.138     22692.945  17.989  48.8024  47.2399    50.4067  48.6073   46.8170     50.4431  11.6337   10.7784     12.3878  5.1490    4.8486      5.3625     13117.346  134.4685        88348.382     19780.603  206.9440  339.9678   349.2448     330.6815  502.9323   535.8289     469.5325  212.8720   232.6019     193.0492  345.0826   385.8433     303.9053            0.0   0.0
4          1    900   NaN       NaN       NaN        1.0          1       World         0    World      2  Medium  1954      2665306.975       2691979.339           1342923.171             1349056.168     20.6435      99.5454       21.9524  53345.249       19.812  53344.728          1.982       34.9721  100348.054   11471.273  37.269  5.0098  1.7626  28.943  105.4  47002.805   24539.831     22462.974  17.457  49.5919  48.0295    51.1894  49.0909   47.3293     50.8869  11.8152   10.9386     12.5849  5.2582    4.9476      5.4785     13122.414  131.7228        91065.389     19781.855  202.1803  330.1323   338.8165     321.4258  490.9939   523.1236     458.4842  205.7622   224.0498     187.4439  335.4420   374.6576     295.9944            0.0   0.0

In [ ]:
demographic_ind = demographic_ind.drop(['SortOrder','LocID','Notes','ISO3_code','ISO2_code','SDMX_code','ParentID','VarID','Variant','TPopulation1Jan','Q5','Q0040',
                                        'Q0040Male','Q0040Female','Q0060','Q0060Male','Q0060Female','Q1550','Q1550Male','Q1550Female','Q1560','Q1560Male',
                                        'Q1560Female','CNMR'], axis = 1)

In [ ]:
demographic_ind.head()

   LocTypeID LocTypeName Location  Time  TPopulation1July  TPopulationMale1July  TPopulationFemale1July  PopDensity  PopSexRatio  MedianAgePop  NatChange  NatChangeRT  PopChange  PopGrowthRate  DoublingTime      Births  Births1519     CBR     TFR     NRR     MAC    SRB     Deaths  DeathsMale  DeathsFemale     CDR      LEx  LExMale  LExFemale     LE15  LE15Male  LE15Female     LE65  LE65Male  LE65Female    LE80  LE80Male  LE80Female  InfantDeaths       IMR  LBsurvivingAge1  Under5Deaths  NetMigrations
0          1       World    World  1950       2499322.157           1245362.964             1253959.192     19.1661      99.3145       22.2243  43294.722       17.319  43294.850          1.732       40.0200   92083.258   10629.041  36.837  4.8596  1.6382  28.945  105.4  48788.536   25784.509     23004.027  19.518  46.4643  44.5946    48.4411  47.0395   44.8310     49.3734  11.2965   10.4672     12.0390  5.0199    4.7308      5.2236     13109.145  143.3869        82837.349     19780.141            0.0
1          1       World    World  1951       2543130.380           1267473.182             1275657.198     19.5020      99.3584       22.1716  44322.348       17.427  44321.597          1.743       39.7675   92836.900   10741.899  36.502  4.8269  1.6430  28.910  105.4  48514.552   25505.184     23009.368  19.075  47.1440  45.4026    48.9655  47.5028   45.4710     49.6263  11.3369   10.5123     12.0705  5.0145    4.7347      5.2121     13086.528  141.3090        83648.709     19825.046            0.0
2          1       World    World  1952       2590270.898           1291399.982             1298870.917     19.8635      99.4248       22.1083  49960.072       19.283  49959.439          1.929       35.9330   97606.684   11231.717  37.672  5.0142  1.7300  28.980  105.4  47646.612   24935.224     22711.388  18.389  48.2311  46.6241    49.8908  48.2552   46.4167     50.1512  11.5593   10.7121     12.3094  5.1412    4.8431      5.3525     13215.704  137.2952        88207.529     19875.696            0.0
3          1       World    World  1953       2640278.797           1316659.222             1323619.574     20.2470      99.4741       22.0364  50056.756       18.959  50056.357          1.896       36.5584   97555.839   11200.749  36.948  4.9366  1.7170  28.928  105.4  47499.083   24806.138     22692.945  17.989  48.8024  47.2399    50.4067  48.6073   46.8170     50.4431  11.6337   10.7784     12.3878  5.1490    4.8486      5.3625     13117.346  134.4685        88348.382     19780.603            0.0
4          1       World    World  1954       2691979.339           1342923.171             1349056.168     20.6435      99.5454       21.9524  53345.249       19.812  53344.728          1.982       34.9721  100348.054   11471.273  37.269  5.0098  1.7626  28.943  105.4  47002.805   24539.831     22462.974  17.457  49.5919  48.0295    51.1894  49.0909   47.3293     50.8869  11.8152   10.9386     12.5849  5.2582    4.9476      5.4785     13122.414  131.7228        91065.389     19781.855            0.0

In [ ]:
data_country_specific = demographic_ind[demographic_ind['LocTypeName'] == 'Country/Area']
data_country_specific = data_country_specific.reset_index(drop=True)
data_country_specific.head()

   LocTypeID   LocTypeName Location  Time  TPopulation1July  TPopulationMale1July  TPopulationFemale1July  PopDensity  PopSexRatio  MedianAgePop  NatChange  NatChangeRT  PopChange  PopGrowthRate  DoublingTime   Births  Births1519     CBR     TFR     NRR     MAC    SRB  Deaths  DeathsMale  DeathsFemale     CDR      LEx  LExMale  LExFemale     LE15  LE15Male  LE15Female     LE65  LE65Male  LE65Female    LE80  LE80Male  LE80Female  InfantDeaths       IMR  LBsurvivingAge1  Under5Deaths  NetMigrations
0          4  Country/Area  Burundi  1950          2254.113              1079.773                1174.340     86.8637      91.9472       18.3147     62.914       27.788     49.581          2.200       31.5067  116.224      11.270  51.334  6.9229  2.0471  30.995  102.5  53.310      27.069        26.241  23.546  40.5788  39.2465    41.8528  44.9165   43.7326     45.9999  11.0464   10.6233     11.3950  4.7281    4.4681      4.9251        18.127  166.9203          103.226        29.001        -13.343
1          4  Country/Area  Burundi  1951          2303.248              1104.544                1198.705     88.7571      92.1448       18.0842     61.906       26.799     48.690          2.114       32.7884  117.067      11.370  50.678  6.9139  2.0584  30.996  102.5  55.161      28.189        26.972  23.879  40.8115  39.3452    42.2228  45.0658   43.7438     46.2827  11.1033   10.6267     11.4958  4.7591    4.4697      4.9762        19.392  165.9564          104.050        30.669        -13.217
2          4  Country/Area  Burundi  1952          2351.536              1128.810                1222.726     90.6179      92.3191       17.8744     61.601       26.118     47.885          2.036       34.0446  117.770      11.325  49.933  6.9002  2.0621  31.026  102.5  56.169      28.679        27.490  23.815  41.0034  39.5682    42.3821  45.0856   43.7955     46.2686  11.1105   10.6430     11.4913  4.7637    4.4776      4.9740        19.278  163.9716          104.832        31.272        -13.715
3          4  Country/Area  Burundi  1953          2399.099              1152.736                1246.363     92.4508      92.4880       17.6693     62.202       25.844     47.243          1.969       35.2030  119.013      11.424  49.448  6.9146  2.0779  31.030  102.5  56.811      28.988        27.823  23.604  41.2815  39.8589    42.6454  45.1938   43.8980     46.3800  11.1486   10.6819     11.5251  4.7835    4.4984      4.9887        19.220  162.0241          106.093        31.644        -14.962
4          4  Country/Area  Burundi  1954          2446.758              1176.706                1270.051     94.2874      92.6503       17.4706     62.673       25.536     48.073          1.965       35.2747  119.972      11.635  48.883  6.9170  2.0918  31.036  102.5  57.299      29.270        28.029  23.347  41.5582  40.0997    42.9584  45.3182   43.9928     46.5319  11.1891   10.7073     11.5765  4.8031    4.5096      5.0136        19.162  160.1124          107.102        31.915        -14.599

In [ ]:
data_country_specific.shape

(36024, 43)

In [ ]:
data_country_specific.to_csv('/content/drive/MyDrive/DSCI544_Data/data_country_specific.csv')

In [ ]:
data_Subregion_specific = demographic_ind[demographic_ind['LocTypeName'] == 'Subregion']
data_Subregion_specific = data_Subregion_specific.reset_index(drop=True)
data_Subregion_specific.head()

   LocTypeID LocTypeName        Location  Time  TPopulation1July  TPopulationMale1July  TPopulationFemale1July  PopDensity  PopSexRatio  MedianAgePop  NatChange  NatChangeRT  PopChange  PopGrowthRate  DoublingTime    Births  Births1519     CBR     TFR     NRR     MAC    SRB    Deaths  DeathsMale  DeathsFemale     CDR      LEx  LExMale  LExFemale     LE15  LE15Male  LE15Female     LE65  LE65Male  LE65Female    LE80  LE80Male  LE80Female  InfantDeaths       IMR  LBsurvivingAge1  Under5Deaths  NetMigrations
0          3   Subregion  Eastern Africa  1950         65794.236             32714.298               33079.938      9.8901      98.8947       17.2647   1544.236       23.464   1510.842          2.296       30.1893  3240.626     464.909  49.240  6.9281  1.9999  30.099  103.4  1696.390     895.546       800.844  25.776  38.6616  37.0532    40.3402  43.5039   42.3197     44.7101  10.7060   10.3480     11.0358  4.7642    4.5601      4.9513       556.927  171.9584         2858.460       945.988        -33.411
1          3   Subregion  Eastern Africa  1951         67328.314             33459.833               33868.482     10.1207      98.7934       17.2232   1600.717       23.763   1557.315          2.313       29.9675  3316.181     474.347  49.229  6.9276  2.0110  30.096  103.4  1715.464     903.690       811.774  25.466  38.9268  37.3328    40.5840  43.6176   42.4523     44.8018  10.7462   10.3894     11.0721  4.7872    4.5814      4.9720       562.113  170.5486         2928.334       955.351        -43.380
2          3   Subregion  Eastern Africa  1952         68905.136             34227.420               34677.716     10.3578      98.7015       17.1731   1656.488       24.025   1596.329          2.317       29.9157  3389.436     483.196  49.159  6.9185  2.0240  30.090  103.4  1732.948     912.787       820.161  25.134  39.2223  37.5979    40.9112  43.6453   42.4199     44.8933  10.7687   10.4028     11.1009  4.7994    4.5886      4.9852       567.071  168.3122         2998.152       959.804        -60.152
3          3   Subregion  Eastern Africa  1953         70518.765             35013.842               35504.922     10.6003      98.6169       17.1135   1725.569       24.449   1630.927          2.313       29.9675  3465.875     494.454  49.106  6.9125  2.0442  30.077  103.4  1740.306     915.917       824.389  24.657  39.6992  38.0779    41.3824  43.8258   42.5950     45.0778  10.8235   10.4529     11.1576  4.8227    4.6093      5.0071       569.674  165.4163         3072.607       961.101        -94.631
4          3   Subregion  Eastern Africa  1954         72185.576             35827.309               36358.266     10.8509      98.5397       17.0502   1791.181       24.794   1702.695          2.359       29.3831  3540.414     503.065  49.007  6.9060  2.0641  30.076  103.4  1749.233     921.007       828.226  24.213  40.1536  38.5022    41.8688  43.9916   42.7189     45.2873  10.8695   10.4863     11.2133  4.8328    4.6165      5.0161       571.588  162.4461         3145.862       962.526        -88.481

In [ ]:
data_Subregion_specific.shape

(3192, 43)

In [ ]:
data_Subregion_specific.to_csv('/content/drive/MyDrive/DSCI544_Data/data_Subregion_specific.csv')

In [ ]:
data_SDG_region_specific = demographic_ind[demographic_ind['LocTypeName'] == 'SDG region']
data_SDG_region_specific = data_SDG_region_specific.reset_index(drop=True)
data_SDG_region_specific.head()

   LocTypeID LocTypeName            Location  Time  TPopulation1July  TPopulationMale1July  TPopulationFemale1July  PopDensity  PopSexRatio  MedianAgePop  NatChange  NatChangeRT  PopChange  PopGrowthRate  DoublingTime    Births  Births1519     CBR     TFR     NRR     MAC    SRB    Deaths  DeathsMale  DeathsFemale     CDR      LEx  LExMale  LExFemale     LE15  LE15Male  LE15Female     LE65  LE65Male  LE65Female    LE80  LE80Male  LE80Female  InfantDeaths       IMR  LBsurvivingAge1  Under5Deaths  NetMigrations
0         12  SDG region  Sub-Saharan Africa  1950        177491.856             88203.727               89288.129      8.1177      98.7855       17.9831   3662.851       20.631   3658.289          2.061       33.6316  8369.119    1275.661  47.139  6.4990  1.8159  29.705  103.5  4706.268    2442.483      2263.785  26.508  37.4772  36.2321    38.7475  43.1355   42.2908     43.9730  10.5435   10.2917     10.7623  4.6571    4.5514      4.7433      1458.856  176.3451         7363.228      2565.608         -4.600
1         12  SDG region  Sub-Saharan Africa  1951        181206.691             90039.036               91167.655      8.2876      98.7620       17.9715   3796.935       20.949   3771.382          2.081       33.3084  8560.738    1301.212  47.232  6.5066  1.8288  29.712  103.5  4763.803    2471.566      2292.237  26.283  37.7276  36.4735    39.0054  43.2314   42.3721     44.0841  10.5741   10.3143     10.7999  4.6745    4.5613      4.7660      1488.069  174.8899         7540.464      2596.930        -25.436
2         12  SDG region  Sub-Saharan Africa  1952        185025.406             91926.985               93098.421      8.4622      98.7417       17.9519   3937.473       21.273   3866.047          2.090       33.1649  8745.905    1324.197  47.252  6.5067  1.8434  29.715  103.5  4808.432    2495.757      2312.675  25.979  38.0433  36.7678    39.3432  43.3117   42.4141     44.2047  10.6003   10.3290     10.8364  4.6920    4.5696      4.7898      1500.613  172.5983         7717.186      2613.824        -71.434
3         12  SDG region  Sub-Saharan Africa  1953        188925.020             93857.236               95067.783      8.6406      98.7266       17.9182   4105.096       21.715   3933.181          2.082       33.2924  8943.743    1351.912  47.310  6.5168  1.8646  29.717  103.5  4838.647    2513.638      2325.009  25.595  38.4561  37.1522    39.7865  43.4871   42.5493     44.4222  10.6516   10.3632     10.9030  4.7178    4.5834      4.8244      1511.808  170.1133         7906.927      2629.642       -171.911
4         12  SDG region  Sub-Saharan Africa  1954        192937.718             95846.475               97091.243      8.8241      98.7179       17.8733   4254.518       22.038   4092.216          2.121       32.6802  9126.491    1374.154  47.275  6.5224  1.8838  29.723  103.5  4871.973    2533.091      2338.882  25.237  38.8423  37.5120    40.2017  43.6166   42.6374     44.5961  10.6842   10.3825     10.9472  4.7331    4.5899      4.8459      1520.012  167.5228         8084.662      2643.001       -162.311

In [ ]:
data_SDG_region_specific.shape

(1216, 43)

In [ ]:
data_SDG_region_specific.to_csv('/content/drive/MyDrive/DSCI544_Data/data_SDG_region_specific.csv')

In [ ]:
data_Development_group_specific = demographic_ind[demographic_ind['LocTypeName'] == 'Development group']
data_Development_group_specific = data_Development_group_specific.reset_index(drop=True)
data_Development_group_specific.head()

   LocTypeID        LocTypeName                Location  Time  TPopulation1July  TPopulationMale1July  TPopulationFemale1July  PopDensity  PopSexRatio  MedianAgePop  NatChange  NatChangeRT  PopChange  PopGrowthRate  DoublingTime     Births  Births1519     CBR     TFR     NRR     MAC    SRB    Deaths  DeathsMale  DeathsFemale     CDR      LEx  LExMale  LExFemale     LE15  LE15Male  LE15Female     LE65  LE65Male  LE65Female    LE80  LE80Male  LE80Female  InfantDeaths      IMR  LBsurvivingAge1  Under5Deaths  NetMigrations
0          5  Development group  More developed regions  1950        806252.896            383065.729              423187.167     16.4346      90.5192       27.3218   9523.961       11.815   9193.931          1.140       60.8024  18578.928    1119.267  23.047  2.8370  1.2354  28.609  105.9  9054.967    4711.604      4343.363  11.232  63.5226  60.8657    66.0679  54.4149   51.9021     56.7604  13.0139   11.9728     13.8802  5.6000    5.2181      5.8586      1152.226  60.4486        17734.206      1452.764       -330.051
1          5  Development group  More developed regions  1951        815364.763            387977.256              427387.507     16.6203      90.7788       27.3848   9323.237       11.431   9029.804          1.107       62.6149  18480.426    1075.792  22.659  2.8020  1.2266  28.536  105.7  9157.189    4756.703      4400.486  11.228  63.7474  61.0805    66.3019  54.4985   51.9753     56.8534  12.8914   11.8461     13.7574  5.5037    5.1363      5.7524      1078.541  58.4456        17663.145      1398.767       -293.315
2          5  Development group  More developed regions  1952        824657.585            392970.672              431686.914     16.8097      91.0314       27.4668   9702.947       11.767   9555.840          1.159       59.8056  18456.634    1034.801  22.383  2.7896  1.2332  28.504  105.7  8753.687    4553.222      4200.465  10.616  64.8906  62.2122    67.4453  55.2164   52.6845     57.5718  13.2427   12.1574     14.1345  5.7209    5.3234      5.9893       998.975  53.9139        17688.262      1281.969       -146.975
3          5  Development group  More developed regions  1953        834404.417            397911.465              436492.952     17.0084      91.1610       27.5731   9635.446       11.549   9937.824          1.191       58.1988  18369.046    1040.136  22.017  2.7622  1.2302  28.424  105.7  8733.600    4544.763      4188.837  10.468  65.4510  62.7194    68.0595  55.4682   52.9054     57.8529  13.2248   12.1167     14.1320  5.6674    5.2640      5.9400       936.234  50.9889        17637.315      1196.703        302.392
4          5  Development group  More developed regions  1954        844461.736            403076.271              441385.465     17.2134      91.3207       27.6855   9932.220       11.762  10176.815          1.205       57.5226  18426.636    1084.887  21.822  2.7594  1.2370  28.348  105.7  8494.416    4420.957      4073.459  10.060  66.2719  63.5240    68.8840  55.9973   53.4112     58.3945  13.5011   12.3618     14.4257  5.8457    5.4334      6.1220       889.258  48.3218        17724.238      1121.205        244.659

In [ ]:
data_Development_group_specific.shape

(1064, 43)

In [ ]:
data_Development_group_specific.to_csv('/content/drive/MyDrive/DSCI544_Data/data_Development_group_specific.csv')

In [ ]:
data_Geographic_region_specific = demographic_ind[demographic_ind['LocTypeName'] == 'Geographic region']
data_Geographic_region_specific = data_Geographic_region_specific.reset_index(drop=True)
data_Geographic_region_specific.head()

   LocTypeID        LocTypeName Location  Time  TPopulation1July  TPopulationMale1July  TPopulationFemale1July  PopDensity  PopSexRatio  MedianAgePop  NatChange  NatChangeRT  PopChange  PopGrowthRate  DoublingTime     Births  Births1519     CBR     TFR     NRR     MAC    SRB    Deaths  DeathsMale  DeathsFemale     CDR      LEx  LExMale  LExFemale     LE15  LE15Male  LE15Female     LE65  LE65Male  LE65Female    LE80  LE80Male  LE80Female  InfantDeaths       IMR  LBsurvivingAge1  Under5Deaths  NetMigrations
0          2  Geographic region   Africa  1950        227549.258            113474.172              114075.086      7.7002      99.4732       18.1289   4886.131       21.466   4857.894          2.135       32.4659  10949.117    1682.377  48.102  6.5856  1.8341  29.545  103.9  6062.986    3152.087      2910.899  26.636  37.6235  36.4357    38.8380  43.7819   42.7995     44.7714  10.6576   10.3527     10.9292  4.7008    4.5819      4.7994      2021.508  186.5670         9549.670      3440.484        -28.286
1          2  Geographic region   Africa  1951        232483.994            115915.005              116568.989      7.8672      99.4390       18.1160   5068.030       21.793   5011.579          2.156       32.1497  11200.481    1713.871  48.163  6.5921  1.8500  29.549  103.9  6132.451    3187.351      2945.100  26.370  37.9309  36.7294    39.1581  43.8578   42.8566     44.8668  10.6747   10.3542     10.9605  4.7061    4.5697      4.8187      2053.236  184.4518         9785.482      3471.106        -56.348
2          2  Geographic region   Africa  1952        237586.060            118442.586              119143.474      8.0399      99.4117       18.0920   5293.461       22.271   5192.552          2.186       31.7085  11448.324    1740.078  48.167  6.5957  1.8740  29.553  103.9  6154.863    3199.460      2955.403  25.896  38.4430  37.2227    39.6892  44.0198   42.9974     45.0505  10.7370   10.4087     11.0292  4.7385    4.5972      4.8539      2062.187  181.2626        10027.153      3475.048       -100.834
3          2  Geographic region   Africa  1953        242837.448            121050.757              121786.691      8.2176      99.3957       18.0517   5520.284       22.718   5310.223          2.187       31.6940  11708.347    1771.100  48.185  6.6072  1.8967  29.556  103.9  6188.063    3216.657      2971.406  25.467  38.9152  37.6871    40.1693  44.2282   43.1876     45.2777  10.7972   10.4607     11.0963  4.7545    4.6164      4.8659      2070.329  177.9855        10281.355      3482.896       -210.067
4          2  Geographic region   Africa  1954        248244.771            123736.856              124507.915      8.4006      99.3807       17.9945   5707.774       22.979   5504.423          2.217       31.2651  11941.297    1793.240  48.075  6.6096  1.9200  29.562  103.9  6233.523    3252.430      2981.093  25.096  39.2991  37.9474    40.6903  44.2115   42.9861     45.4604  10.8419   10.4803     11.1638  4.7802    4.6301      4.9006      2073.665  174.6635        10513.306      3488.113       -203.348

In [ ]:
data_Geographic_region_specific.shape

(912, 43)

In [ ]:
data_Geographic_region_specific.to_csv('/content/drive/MyDrive/DSCI544_Data/data_Geographic_region_specific.csv')

In [ ]:
data_Income_group_specific = demographic_ind[demographic_ind['LocTypeName'] == 'Income group']
data_Income_group_specific = data_Income_group_specific.reset_index(drop=True)
data_Income_group_specific.head()

   LocTypeID   LocTypeName               Location  Time  TPopulation1July  TPopulationMale1July  TPopulationFemale1July  PopDensity  PopSexRatio  MedianAgePop  NatChange  NatChangeRT  PopChange  PopGrowthRate  DoublingTime     Births  Births1519     CBR     TFR     NRR     MAC    SRB    Deaths  DeathsMale  DeathsFemale     CDR      LEx  LExMale  LExFemale     LE15  LE15Male  LE15Female     LE65  LE65Male  LE65Female    LE80  LE80Male  LE80Female  InfantDeaths      IMR  LBsurvivingAge1  Under5Deaths  NetMigrations
0         13  Income group  High-income countries  1950        687356.526            334304.368              353052.157     19.5728      94.6898       27.5216   7764.025       11.295   7591.335          1.104       62.7851  16030.247    1093.821  23.321  3.0122  1.2868  28.543  105.9  8266.222    4535.116      3731.106  12.026  61.5421  58.1797    65.0254  53.3690   50.0669     56.7393  13.1294   12.1106     14.0339  5.6176    5.2335      5.8961      1056.616  65.4287        15237.953      1441.728       -172.759
1         13  Income group  High-income countries  1951        694993.200            338288.981              356704.218     19.7903      94.8374       27.5998   7818.314       11.247   7682.013          1.105       62.7283  15955.949    1085.396  22.953  2.9808  1.2878  28.469  105.7  8137.635    4406.366      3731.269  11.706  62.5624  59.5127    65.6873  54.0051   51.0635     56.9711  13.0278   12.0053     13.9312  5.5402    5.1671      5.8104       988.443  62.1074        15202.426      1343.254       -135.844
2         13  Income group  High-income countries  1952        702997.878            342518.083              360479.795     20.0182      95.0173       27.6864   8310.658       11.824   8327.344          1.185       58.4934  15937.183    1067.272  22.675  2.9709  1.2985  28.435  105.7  7626.525    4065.054      3561.471  10.851  64.3204  61.7356    66.9236  55.3150   52.8834     57.7198  13.3743   12.3184     14.2995  5.7675    5.3624      6.0601       923.871  57.7254        15229.778      1228.279         17.027
3         13  Income group  High-income countries  1953        711556.956            346795.259              364761.697     20.2620      95.0745       27.7800   8307.127       11.677   8790.813          1.235       56.1253  15919.701    1075.843  22.378  2.9526  1.3008  28.361  105.7  7612.574    4038.700      3573.874  10.701  64.9871  62.4774    67.5053  55.6363   53.2893     57.9477  13.3037   12.2363     14.2356  5.6860    5.2802      5.9793       871.533  54.8627        15244.114      1144.086        483.836
4         13  Income group  High-income countries  1954        720488.420            351345.655              369142.765     20.5163      95.1788       27.8492   8651.495       12.010   9072.115          1.259       55.0554  16033.123    1107.668  22.257  2.9592  1.3134  28.288  105.7  7381.628    3911.022      3470.606  10.247  65.9261  63.4592    68.3870  56.2228   53.9270     58.4693  13.5877   12.4742     14.5538  5.8779    5.4508      6.1848       825.866  51.6598        15387.300      1068.183        420.940

In [ ]:
data_Income_group_specific.shape

(912, 43)

In [ ]:
data_Income_group_specific.to_csv('/content/drive/MyDrive/DSCI544_Data/data_Income_group_specific.csv')

In [ ]:
data_overall_world_specific = demographic_ind[demographic_ind['LocTypeName'] == 'World']
data_overall_world_specific = data_overall_world_specific.reset_index(drop=True)
data_overall_world_specific.head()

   LocTypeID LocTypeName Location  Time  TPopulation1July  TPopulationMale1July  TPopulationFemale1July  PopDensity  PopSexRatio  MedianAgePop  NatChange  NatChangeRT  PopChange  PopGrowthRate  DoublingTime      Births  Births1519     CBR     TFR     NRR     MAC    SRB     Deaths  DeathsMale  DeathsFemale     CDR      LEx  LExMale  LExFemale     LE15  LE15Male  LE15Female     LE65  LE65Male  LE65Female    LE80  LE80Male  LE80Female  InfantDeaths       IMR  LBsurvivingAge1  Under5Deaths  NetMigrations
0          1       World    World  1950       2499322.157           1245362.964             1253959.192     19.1661      99.3145       22.2243  43294.722       17.319  43294.850          1.732       40.0200   92083.258   10629.041  36.837  4.8596  1.6382  28.945  105.4  48788.536   25784.509     23004.027  19.518  46.4643  44.5946    48.4411  47.0395   44.8310     49.3734  11.2965   10.4672     12.0390  5.0199    4.7308      5.2236     13109.145  143.3869        82837.349     19780.141            0.0
1          1       World    World  1951       2543130.380           1267473.182             1275657.198     19.5020      99.3584       22.1716  44322.348       17.427  44321.597          1.743       39.7675   92836.900   10741.899  36.502  4.8269  1.6430  28.910  105.4  48514.552   25505.184     23009.368  19.075  47.1440  45.4026    48.9655  47.5028   45.4710     49.6263  11.3369   10.5123     12.0705  5.0145    4.7347      5.2121     13086.528  141.3090        83648.709     19825.046            0.0
2          1       World    World  1952       2590270.898           1291399.982             1298870.917     19.8635      99.4248       22.1083  49960.072       19.283  49959.439          1.929       35.9330   97606.684   11231.717  37.672  5.0142  1.7300  28.980  105.4  47646.612   24935.224     22711.388  18.389  48.2311  46.6241    49.8908  48.2552   46.4167     50.1512  11.5593   10.7121     12.3094  5.1412    4.8431      5.3525     13215.704  137.2952        88207.529     19875.696            0.0
3          1       World    World  1953       2640278.797           1316659.222             1323619.574     20.2470      99.4741       22.0364  50056.756       18.959  50056.357          1.896       36.5584   97555.839   11200.749  36.948  4.9366  1.7170  28.928  105.4  47499.083   24806.138     22692.945  17.989  48.8024  47.2399    50.4067  48.6073   46.8170     50.4431  11.6337   10.7784     12.3878  5.1490    4.8486      5.3625     13117.346  134.4685        88348.382     19780.603            0.0
4          1       World    World  1954       2691979.339           1342923.171             1349056.168     20.6435      99.5454       21.9524  53345.249       19.812  53344.728          1.982       34.9721  100348.054   11471.273  37.269  5.0098  1.7626  28.943  105.4  47002.805   24539.831     22462.974  17.457  49.5919  48.0295    51.1894  49.0909   47.3293     50.8869  11.8152   10.9386     12.5849  5.2582    4.9476      5.4785     13122.414  131.7228        91065.389     19781.855            0.0

In [ ]:
data_overall_world_specific.shape

(152, 43)

In [ ]:
data_overall_world_specific.to_csv('/content/drive/MyDrive/DSCI544_Data/data_overall_world_specific.csv')

In [ ]:
#@title #Cleaning data and adding additional features from other CSVs
#Importing libraries & uploading csv file

In [ ]:
battle_related_deaths = pd.read_csv("/content/drive/MyDrive/test_data/battle-related-deaths.csv") 
battle_related_deaths.head()

   Entity Code  Year  Deaths in all state-based conflict types
0  Africa  NaN  1946                                       0.0
1  Africa  NaN  1947                                    9566.0
2  Africa  NaN  1948                                       0.0
3  Africa  NaN  1949                                       0.0
4  Africa  NaN  1950                                       0.0

In [ ]:
import pandas as pd
active_conflicts = pd.read_csv("/content/drive/MyDrive/test_data/active_conflicts.csv")
active_conflicts.head()

   Entity Code  Year  Number of civil conflicts with foreign state intervention  Number of civil conflicts  Number of conflicts between states  Number of colonial or imperial conflicts
0  Africa  NaN  1946                                                  0                                  0                                   0                                         0
1  Africa  NaN  1947                                                  0                                  0                                   0                                         1
2  Africa  NaN  1948                                                  0                                  0                                   0                                         0
3  Africa  NaN  1949                                                  0                                  0                                   0                                         0
4  Africa  NaN  1950                                                  0                                  0                                   0                                         0

In [ ]:
data_Geographic_region_specific = data_Geographic_region_specific[data_Geographic_region_specific['Time'] <= 2020]
data_Geographic_region_specific = data_Geographic_region_specific[data_Geographic_region_specific['Time'] >= 1960]
data_Geographic_region_specific = data_Geographic_region_specific.reset_index(drop=True)
data_Geographic_region_specific.shape

(366, 43)

In [ ]:
data_Geographic_region_specific['Location'].unique()

array(['Africa', 'Asia', 'Europe', 'Latin America and the Caribbean',
       'Northern America', 'Oceania'], dtype=object)

In [ ]:
data_Geographic_region_specific['Location'] = data_Geographic_region_specific['Location'].replace({'Asia': 'Asia & Oceania', 'Oceania': 'Asia & Oceania'})

In [ ]:
data_Geographic_region_specific['Location'].value_counts()

Asia & Oceania                     122
Africa                              61
Europe                              61
Latin America and the Caribbean     61
Northern America                    61
Name: Location, dtype: int64

In [ ]:
data_Geographic_region_specific

In [ ]:
data_Geographic_region_specific2 = data_Geographic_region_specific.sort_values(['Location', 'Time'], ascending=[False, True])
data_Geographic_region_specific2 = data_Geographic_region_specific2.reset_index(drop=True)
data_Geographic_region_specific2

     LocTypeID        LocTypeName                         Location  Time  TPopulation1July  TPopulationMale1July  TPopulationFemale1July  PopDensity  PopSexRatio  MedianAgePop  NatChange  NatChangeRT  PopChange  PopGrowthRate  DoublingTime     Births  Births1519     CBR     TFR     NRR     MAC    SRB     Deaths  DeathsMale  DeathsFemale     CDR      LEx  LExMale  LExFemale     LE15  LE15Male  LE15Female     LE65  LE65Male  LE65Female    LE80  LE80Male  LE80Female  InfantDeaths       IMR  LBsurvivingAge1  Under5Deaths  NetMigrations
0            2  Geographic region                 Northern America  1960        194177.008             96419.784               97757.224     10.4106      98.6319       28.3352   2655.649       13.701   3283.647          1.691       40.9904   4466.678     564.997  23.044  3.5827  1.6808  26.558  105.0   1811.029    1034.311       776.718   9.343  69.9013  66.7424    73.3675  57.3985   54.4537     60.6151  14.4756   12.9443     15.9954  6.6552    6.0473      7.1300       118.798   26.5258         4362.058       138.024        627.988
1            2  Geographic region                 Northern America  1961        197442.207             97936.970               99505.237     10.5857      98.4239       28.1567   2680.926       13.601   3246.751          1.644       42.1622   4483.977     585.962  22.748  3.5488  1.6666  26.581  105.1   1803.051    1027.379       775.672   9.147  70.3119  67.1449    73.7639  57.7178   54.7508     60.9357  14.6697   13.0990     16.2107  6.7526    6.1122      7.2488       115.005   25.5539         4382.425       133.223        565.841
2            2  Geographic region                 Northern America  1962        200623.682             99396.828              101226.855     10.7562      98.1922       27.9461   2539.966       12.683   3116.199          1.553       44.6328   4399.920     580.432  21.971  3.4232  1.6089  26.591  104.9   1859.954    1055.961       803.993   9.288  70.1879  67.0010    73.6503  57.5718   54.5797     60.8059  14.5842   12.9796     16.1451  6.6776    6.0344      7.1723       112.571   25.4270         4300.720       130.447        576.239
3            2  Geographic region                 Northern America  1963        203706.745            100810.932              102895.813     10.9215      97.9738       27.6784   2420.287       11.904   3049.927          1.497       46.3024   4339.926     560.126  21.345  3.3091  1.5525  26.646  105.2   1919.639    1090.319       829.320   9.441  70.0354  66.7755    73.5790  57.4027   54.3353     60.7186  14.4855   12.8111     16.1078  6.6094    5.9385      7.1237       110.076   25.2159         4242.808       128.254        629.658
4            2  Geographic region                 Northern America  1964        206691.982            102177.942              104514.040     11.0816      97.7648       27.4057   2360.106       11.438   2920.545          1.413       49.0550   4263.644     561.530  20.663  3.1737  1.4926  26.698  104.8   1903.538    1080.766       822.772   9.225  70.3075  66.9695    73.9130  57.6398   54.4862     61.0263  14.7680   13.0489     16.4068  6.8199    6.1323      7.3369       106.315   24.7880         4169.696       123.833        560.473
5            2  Geographic region                 Northern America  1965        209482.854            103400.530              106082.324     11.2312      97.4720       27.2348   2059.816        9.852   2661.199          1.270       54.5785   3994.635     587.895  19.107  2.8875  1.3574  26.669  105.1   1934.819    1098.772       836.047   9.255  70.3669  66.9674    74.0356  57.6278   54.4021     61.0884  14.7463   12.9615     16.4404  6.7945    6.0620      7.3448        96.550   23.9308         3909.386       113.414        601.386
6            2  Geographic region                 Northern America  1966        211979.518            104400.974              107578.545     11.3651      97.0463       27.1137   1857.662        8.777   2332.131          1.100       63.0134   3829.438     615.141  18.094  2.6737  1.2587  26.513  104.9   1971.776    1117.610       854.166   9.317  70.3407  66.8644    74.0795  57.5572   54.2484     61.0942  14.7253   12.9130     16.4273  6.8068    6.0695      7.3528        89.919   23.2704         3749.786       106.472        474.471
7            2  Geographic region                 Northern America  1967        214286.308            105287.503              108998.805     11.4888      96.5951       27.0578   1778.880        8.314   2281.448          1.065       65.0842   3741.357     580.533  17.485  2.5299  1.1921  26.424  105.0   1962.477    1112.176       850.301   9.171  70.6486  67.1037    74.4376  57.7756   54.3932     61.3671  14.9227   13.0449     16.6704  6.9519    6.1742      7.5210        83.633   22.2378         3666.828        98.585        502.594
8            2  Geographic region                 Northern America  1968        216573.634            106230.300              110343.334     11.6114      96.2725       27.0326   1686.787        7.800   2293.205          1.059       65.4530   3729.208     559.997  17.245  2.4404  1.1482  26.334  105.4   2042.421    1153.863       888.558   9.445  70.3734  66.7702    74.2205  57.4744   54.0330     61.1233  14.7433   12.8257     16.5186  6.8551    6.0820      7.4128        82.033   21.9603         3655.890        96.308        606.406
9            2  Geographic region                 Northern America  1969        218993.970            107336.040              111657.930     11.7412      96.1293       27.0026   1791.736        8.195   2547.465          1.163       59.5999   3829.669     587.015  17.515  2.4276  1.1430  26.257  105.3   2037.933    1149.651       888.282   9.320  70.6419  66.9782    74.5297  57.6908   54.1790     61.3905  14.9428   12.9808     16.7361  6.9857    6.1799      7.5580        81.144   21.2434         3756.952        94.633        755.779
10           2  Geographic region                 Northern America  1970        221865.907            108759.552              113106.354     11.8951      96.1569       26.9975   1962.474        8.867   3196.409          1.441       48.1018   4001.621     667.451  18.080  2.4529  1.1551  26.165  105.5   2039.147    1148.397       890.750   9.213  70.8965  67.2195    74.7803  57.8958   54.3669     61.5952  15.1187   13.1002     16.9470  7.1764    6.3132      7.7804        82.498   20.7302         3927.559        95.055       1233.944
11           2  Geographic region                 Northern America  1971        224901.244            110304.804              114596.440     12.0579      96.2550       27.0717   1763.661        7.863   2874.267          1.278       54.2369   3806.356     650.029  16.969  2.2516  1.0635  26.109  105.3   2042.695    1145.524       897.171   9.106  71.2563  67.5869    75.1131  58.1029   54.5693     61.7904  15.2277   13.1765     17.0719  7.1827    6.2980      7.7919        71.205   18.6670         3743.222        83.426       1110.608
12           2  Geographic region                 Northern America  1972        227566.327            111632.804              115933.523     12.2007      96.2904       27.1781   1434.585        6.321   2455.898          1.079       64.2398   3517.053     621.005  15.497  2.0089  0.9503  26.009  105.2   2082.468    1166.520       915.948   9.176  71.3165  67.6000    75.2278  58.0871   54.5043     61.8318  15.1860   13.1044     17.0505  7.1986    6.2879      7.8166        62.911   17.7375         3461.742        74.948       1021.359
13           2  Geographic region                 Northern America  1973        229923.512            112763.949              117159.562     12.3271      96.2482       27.2827   1305.638        5.691   2258.471          0.982       70.5853   3400.874     608.527  14.825  1.8808  0.8901  25.939  105.3   2095.236    1169.369       925.867   9.134  71.5377  67.8046    75.4505  58.2627   54.6620     62.0101  15.3087   13.1898     17.1926  7.2042    6.2665      7.8324        58.402   17.0977         3349.393        70.087        952.856
14           2  Geographic region                 Northern America  1974        232198.019            113831.661              118366.358     12.4491      96.1689       27.4551   1357.435        5.858   2290.544          0.986       70.2989   3419.999     603.537  14.758  1.8328  0.8677  25.880  105.5   2062.564    1147.503       915.061   8.900  72.0587  68.3285    75.9373  58.7316   55.1249     62.4546  15.5805   13.4225     17.4771  7.3687    6.3962      8.0080        56.978   16.6674         3369.582        67.638        933.138
15           2  Geographic region                 Northern America  1975        234519.142            114912.408              119606.735     12.5735      96.0752       27.7171   1389.764        5.938   2351.703          1.003       69.1074   3411.079     591.007  14.575  1.7777  0.8431  25.889  105.4   2021.315    1126.949       894.366   8.637  72.6188  68.8410    76.5246  59.2104   55.5410     62.9781  15.9278   13.6817     17.8875  7.6441    6.5732      8.3403        53.630   15.7173         3363.766        63.534        961.969
16           2  Geographic region                 Northern America  1976        236821.063            115978.439              120842.624     12.6969      95.9748       28.0477   1398.377        5.915   2252.139          0.951       72.8861   3436.499     571.315  14.537  1.7462  0.8294  25.953  105.3   2038.122    1128.698       909.424   8.622  72.9321  69.2009    76.7665  59.4535   55.8228     63.1598  16.0118   13.7547     17.9664  7.6320    6.5565      8.3189        51.252   14.9082         3391.370        60.657        853.781
17           2  Geographic region                 Northern America  1977        239261.912            117106.352              122155.561     12.8278      95.8666       28.3681   1560.674        6.537   2629.559          1.099       63.0707   3589.470     571.948  15.034  1.7813  0.8468  25.996  105.3   2028.796    1123.123       905.673   8.497  73.3040  69.5277    77.1652  59.7565   56.0835     63.4861  16.2698   13.9599     18.2538  7.8370    6.6908      8.5580        50.143   14.0124         3545.258        59.154       1068.915
18           2  Geographic region                 Northern America  1978        241953.380            118350.172              123603.207     12.9721      95.7501       28.6333   1567.750        6.495   2753.375          1.138       60.9092   3625.328     560.563  15.020  1.7580  0.8363  26.055  105.3   2057.578    1132.628       924.950   8.525  73.4991  69.7420    77.3229  59.9120   56.2529     63.6105  16.3435   14.0316     18.3157  7.8461    6.6780      8.5704        48.846   13.4768         3582.434        57.974       1185.650
19           2  Geographic region                 Northern America  1979        244791.543            119681.788              125109.754     13.1243      95.6614       28.8258   1738.324        7.118   2922.952          1.194       58.0525   3786.740     563.692  15.505  1.7967  0.8556  26.093  105.2   2048.416    1124.587       923.829   8.387  73.9161  70.1324    77.7443  60.2704   56.5801     63.9788  16.6013   14.2721     18.5685  8.0310    6.8319      8.7598        48.763   12.9128         3743.866        57.496       1184.656
20           2  Geographic region                 Northern America  1980        247761.304            121101.389              126659.916     13.2835      95.6115       28.9650   1792.351        7.251   3016.571          1.218       56.9086   3917.924     566.813  15.850  1.8213  0.8675  26.096  105.3   2125.573    1155.284       970.289   8.599  73.8420  70.1343    77.5830  60.1571   56.5402     63.7819  16.4251   14.1456     18.3445  7.8708    6.6858      8.5861        48.831   12.5018         3875.018        57.673       1224.231
21           2  Geographic region                 Northern America  1981        250580.512            122470.023              128110.489     13.4346      95.5972       29.2171   1813.517        7.249   2621.844          1.046       66.2665   3931.611     550.075  15.715  1.7968  0.8573  26.141  105.2   2118.094    1146.201       971.893   8.466  74.2328  70.5574    77.9144  60.4716   56.8789     64.0470  16.6344   14.3287     18.5590  8.0091    6.7860      8.7363        45.817   11.6610         3891.528        54.409        808.392
22           2  Geographic region                 Northern America  1982        253214.700            123766.286              129448.414     13.5759      95.6105       29.5086   1880.942        7.439   2646.532          1.045       66.3299   3999.313     539.103  15.817  1.8065  0.8630  26.214  105.1   2118.371    1140.511       977.860   8.378  74.5705  70.9449    78.1807  60.7719   57.2283     64.2775  16.7519   14.4355     18.6747  8.1311    6.8737      8.8728        45.177   11.3061         3959.814        53.600        765.624
23           2  Geographic region                 Northern America  1983        255863.568            125084.981              130778.587     13.7179      95.6464       29.7959   1817.776        7.116   2651.204          1.036       66.9061   3980.883     513.866  15.584  1.7830  0.8518  26.313  105.2   2163.107    1155.982      1007.125   8.468  74.6848  71.1288    78.2151  60.8364   57.3584     64.2671  16.7076   14.4012     18.6203  8.0667    6.7983      8.8125        43.053   10.8127         3943.324        51.354        833.453
24           2  Geographic region                 Northern America  1984        258482.369            126401.151              132081.218     13.8583      95.6996       30.0482   1835.950        7.113   2586.398          1.001       69.2455   4022.129     491.644  15.582  1.7898  0.8558  26.409  105.1   2186.179    1162.117      1024.062   8.469  74.8235  71.2997    78.3116  60.9515   57.4983     64.3491  16.7943   14.5155     18.6724  8.1180    6.8349      8.8673        42.683   10.6350         3984.819        50.527        750.457
25           2  Geographic region                 Northern America  1985        261105.161            127726.828              133378.334     13.9989      95.7628       30.3348   1860.555        7.135   2659.187          1.018       68.0891   4101.356     483.727  15.729  1.8181  0.8690  26.459  105.2   2240.801    1187.530      1053.271   8.594  74.8015  71.2641    78.3130  60.9173   57.4659     64.3204  16.7521   14.4827     18.6253  8.0470    6.7571      8.8006        43.066   10.5427         4063.648        50.842        798.680
26           2  Geographic region                 Northern America  1986        263744.844            129069.714              134675.130     14.1404      95.8378       30.6372   1841.328        6.991   2620.178          0.993       69.8033   4104.349     471.913  15.583  1.8164  0.8689  26.523  105.1   2263.021    1195.327      1067.694   8.592  74.8891  71.3441    78.4052  60.9775   57.5149     64.3896  16.8437   14.6020     18.6821  8.1149    6.8245      8.8626        41.683   10.1755         4067.960        49.634        778.880
27           2  Geographic region                 Northern America  1987        266406.972            130420.525              135986.448     14.2832      95.9070       30.9451   1885.120        7.086   2704.079          1.015       68.2904   4167.176     474.709  15.664  1.8460  0.8836  26.612  105.0   2282.056    1199.841      1082.215   8.578  75.0368  71.5232    78.5143  61.1095   57.6803     64.4812  16.9435   14.7208     18.7592  8.1588    6.8787      8.8961        41.481    9.9826         4130.945        49.416        818.956
28           2  Geographic region                 Northern America  1988        269220.718            131844.706              137376.012     14.4340      95.9736       31.2437   1956.541        7.279   2923.411          1.086       63.8257   4290.599     499.498  15.962  1.9059  0.9121  26.636  105.0   2334.058    1222.023      1112.035   8.683  75.0212  71.5363    78.4744  61.0929   57.6815     64.4530  16.9289   14.7368     18.7207  8.0815    6.8072      8.8179        42.500    9.9628         4253.370        50.428        966.891
29           2  Geographic region                 Northern America  1989        272317.228            133420.002              138897.226     14.6000      96.0566       31.5223   2127.286        7.825   3269.610          1.201       57.7142   4445.354     529.684  16.352  1.9817  0.9483  26.635  105.0   2318.068    1212.016      1106.052   8.527  75.2974  71.8218    78.7311  61.3695   57.9595     64.7189  17.1744   15.0036     18.9324  8.2661    6.9761      9.0056        44.087    9.9981         4406.643        51.933       1142.358
30           2  Geographic region                 Northern America  1990        275860.329            135223.983              140636.347     14.7900      96.1515       31.7876   2250.371        8.178   3816.592          1.384       50.0829   4568.125     546.445  16.601  2.0445  0.9794  26.647  105.0   2317.754    1211.756      1105.998   8.423  75.5689  72.0823    79.0104  61.5788   58.1641     64.9295  17.3399   15.1667     19.0937  8.3698    7.0541      9.1243        42.714    9.4206         4530.694        50.154       1566.239
31           2  Geographic region                 Northern America  1991        279695.833            137179.904              142515.928     14.9956      96.2558       32.0527   2158.587        7.740   3854.415          1.378       50.3010   4501.723     541.164  16.142  2.0231  0.9711  26.620  104.7   2343.136    1221.787      1121.349   8.402  75.7230  72.2679    79.1322  61.6964   58.3143     65.0140  17.4325   15.2774     19.1707  8.4133    7.0841      9.1771        40.193    8.9554         4466.695        47.844       1695.819
32           2  Geographic region                 Northern America  1992        283643.363            139190.008              144453.356     15.2073      96.3564       32.3232   2101.329        7.433   4040.647          1.425       48.6419   4452.297     522.405  15.750  2.0083  0.9632  26.693  105.0   2350.968    1224.315      1126.653   8.317  75.9785  72.5569    79.3493  61.8997   58.5399     65.1924  17.5715   15.4383     19.2918  8.5063    7.1614      9.2792        37.668    8.4657         4419.585        44.904       1939.346
33           2  Geographic region                 Northern America  1993        287568.763            141173.810              146394.953     15.4177      96.4335       32.5944   1929.277        6.731   3810.152          1.325       52.3130   4382.026     512.445  15.288  1.9822  0.9503  26.767  105.0   2452.749    1268.371      1184.378   8.557  75.7757  72.4112    79.1075  61.6896   58.3846     64.9464  17.3883   15.3267     19.0691  8.3126    7.0190      9.0607        36.440    8.3196         4350.398        43.985       1880.870
34           2  Geographic region                 Northern America  1994        291375.997            143095.418              148280.578     15.6218      96.5031       32.8662   1865.540        6.424   3804.316          1.306       53.0741   4332.768     512.523  14.919  1.9656  0.9434  26.845  104.9   2467.228    1271.412      1195.816   8.495  75.9473  72.6320    79.2269  61.8315   58.5727     65.0400  17.5091   15.5053     19.1463  8.3644    7.0911      9.1000        34.791    8.0394         4302.569        42.073       1938.804
35           2  Geographic region                 Northern America  1995        295071.643            144967.623              150104.020     15.8200      96.5781       33.1367   1771.263        6.021   3586.976          1.216       57.0022   4276.219     504.204  14.536  1.9431  0.9328  26.946  104.9   2504.956    1284.809      1220.147   8.515  76.0639  72.8229    79.2651  61.9092   58.7215     65.0434  17.5292   15.5721     19.1416  8.3424    7.0944      9.0667        32.526    7.6161         4248.012        39.347       1815.717

In [ ]:
battle_related_deaths = battle_related_deaths[battle_related_deaths['Year'] >= 1960]
battle_related_deaths = battle_related_deaths.reset_index(drop=True)
battle_related_deaths.shape

(366, 4)

In [ ]:
active_conflicts = active_conflicts[active_conflicts['Year'] >= 1960]
active_conflicts = active_conflicts.reset_index(drop=True)
active_conflicts.shape

(366, 7)

In [ ]:
battle_related_deaths['Entity'].unique()

array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East',
       'World'], dtype=object)

In [ ]:
active_conflicts['Entity'].unique()

array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East',
       'World'], dtype=object)

In [ ]:
battle_related_deaths['Entity'] = battle_related_deaths['Entity'].replace({'Middle East': 'Asia & Oceania', 'Americas': 'Northern America','World': 'Latin America and the Caribbean'})

In [ ]:
battle_related_deaths['Entity'].value_counts()

Asia & Oceania                     122
Africa                              61
Northern America                    61
Europe                              61
Latin America and the Caribbean     61
Name: Entity, dtype: int64

In [ ]:
active_conflicts['Entity'] = active_conflicts['Entity'].replace({'Middle East': 'Asia & Oceania', 'Americas': 'Northern America','World': 'Latin America and the Caribbean'})

In [ ]:
active_conflicts['Entity'].value_counts()

Asia & Oceania                     122
Africa                              61
Northern America                    61
Europe                              61
Latin America and the Caribbean     61
Name: Entity, dtype: int64

In [ ]:
NorthA = battle_related_deaths[battle_related_deaths['Entity'] == 'Northern America']['Deaths in all state-based conflict types']
list1 = NorthA.tolist()

In [ ]:
list1[:4]

[0.0, 823.5, 400.0, 25.0]

In [ ]:
LatinA = battle_related_deaths[battle_related_deaths['Entity'] == 'Latin America and the Caribbean']['Deaths in all state-based conflict types']
list2 = LatinA.tolist()

In [ ]:
Eur = battle_related_deaths[battle_related_deaths['Entity'] == 'Europe']['Deaths in all state-based conflict types']
list3 = Eur.tolist()

In [ ]:
AOc = battle_related_deaths[battle_related_deaths['Entity'] == 'Asia & Oceania']['Deaths in all state-based conflict types']
list4 = AOc.tolist()

In [ ]:
Afr = battle_related_deaths[battle_related_deaths['Entity'] == 'Africa']['Deaths in all state-based conflict types']
list5 = Afr.tolist()

In [ ]:
fin_list = []
fin_list = list1 + list2 + list3 + list4 + list5
len(fin_list)

366

In [ ]:
NorthA1 = active_conflicts[active_conflicts['Entity'] == 'Northern America']['Number of civil conflicts with foreign state intervention']
NorthA2 = active_conflicts[active_conflicts['Entity'] == 'Northern America']['Number of civil conflicts']
NorthA3 = active_conflicts[active_conflicts['Entity'] == 'Northern America']['Number of conflicts between states']
NorthA4 = active_conflicts[active_conflicts['Entity'] == 'Northern America']['Number of colonial or imperial conflicts']
list1 = NorthA1.tolist()
list2 = NorthA2.tolist()
list3 = NorthA3.tolist()
list4 = NorthA4.tolist()

In [ ]:
LatinA1 = active_conflicts[active_conflicts['Entity'] == 'Latin America and the Caribbean']['Number of civil conflicts with foreign state intervention']
LatinA2 = active_conflicts[active_conflicts['Entity'] == 'Latin America and the Caribbean']['Number of civil conflicts']
LatinA3 = active_conflicts[active_conflicts['Entity'] == 'Latin America and the Caribbean']['Number of conflicts between states']
LatinA4 = active_conflicts[active_conflicts['Entity'] == 'Latin America and the Caribbean']['Number of colonial or imperial conflicts']
list5 = LatinA1.tolist()
list6 = LatinA2.tolist()
list7 = LatinA3.tolist()
list8 = LatinA4.tolist()

In [ ]:
EurA1 = active_conflicts[active_conflicts['Entity'] == 'Europe']['Number of civil conflicts with foreign state intervention']
EurA2 = active_conflicts[active_conflicts['Entity'] == 'Europe']['Number of civil conflicts']
EurA3 = active_conflicts[active_conflicts['Entity'] == 'Europe']['Number of conflicts between states']
EurA4 = active_conflicts[active_conflicts['Entity'] == 'Europe']['Number of colonial or imperial conflicts']
list9 = EurA1.tolist()
list10 = EurA2.tolist()
list11 = EurA3.tolist()
list12 = EurA4.tolist()

In [ ]:
AocA1 = active_conflicts[active_conflicts['Entity'] == 'Asia & Oceania']['Number of civil conflicts with foreign state intervention']
AocA2 = active_conflicts[active_conflicts['Entity'] == 'Asia & Oceania']['Number of civil conflicts']
AocA3 = active_conflicts[active_conflicts['Entity'] == 'Asia & Oceania']['Number of conflicts between states']
AocA4 = active_conflicts[active_conflicts['Entity'] == 'Asia & Oceania']['Number of colonial or imperial conflicts']
list13 = AocA1.tolist()
list14 = AocA2.tolist()
list15 = AocA3.tolist()
list16 = AocA4.tolist()

In [ ]:
AfrA1 = active_conflicts[active_conflicts['Entity'] == 'Africa']['Number of civil conflicts with foreign state intervention']
AfrA2 = active_conflicts[active_conflicts['Entity'] == 'Africa']['Number of civil conflicts']
AfrA3 = active_conflicts[active_conflicts['Entity'] == 'Africa']['Number of conflicts between states']
AfrA4 = active_conflicts[active_conflicts['Entity'] == 'Africa']['Number of colonial or imperial conflicts']
list17 = AfrA1.tolist()
list18 = AfrA2.tolist()
list19 = AfrA3.tolist()
list20 = AfrA4.tolist()

In [ ]:
fin_list1 = []; fin_list2 = []; fin_list3 = []; fin_list4 = []
fin_list1 = list1 + list5 + list9 + list13 + list17
fin_list2 = list2 + list6 + list10 + list14 + list18
fin_list3 = list3 + list7 + list11 + list15 + list19
fin_list4 = list4 + list8 + list12 + list16 + list20
print(len(fin_list1))
print(len(fin_list2))
print(len(fin_list3))
print(len(fin_list4))

366
366
366
366

In [ ]:
data_Geographic_region_specific2['War_Deaths'] = fin_list
data_Geographic_region_specific2['Foreign_Invasion_War'] = fin_list1
data_Geographic_region_specific2['Civil_War'] = fin_list2
data_Geographic_region_specific2['Inter_country_War'] = fin_list3
data_Geographic_region_specific2['Imperial_Invasion_War'] = fin_list4

In [ ]:
data_Geographic_region_specific2.head()

   LocTypeID        LocTypeName          Location  Time  TPopulation1July  TPopulationMale1July  TPopulationFemale1July  PopDensity  PopSexRatio  MedianAgePop  NatChange  NatChangeRT  PopChange  PopGrowthRate  DoublingTime    Births  Births1519     CBR     TFR     NRR     MAC    SRB    Deaths  DeathsMale  DeathsFemale    CDR      LEx  LExMale  LExFemale     LE15  LE15Male  LE15Female     LE65  LE65Male  LE65Female    LE80  LE80Male  LE80Female  InfantDeaths      IMR  LBsurvivingAge1  Under5Deaths  NetMigrations  War_Deaths  Foreign_Invasion_War  Civil_War  Inter_country_War  Imperial_Invasion_War
0          2  Geographic region  Northern America  1960        194177.008             96419.784               97757.224     10.4106      98.6319       28.3352   2655.649       13.701   3283.647          1.691       40.9904  4466.678     564.997  23.044  3.5827  1.6808  26.558  105.0  1811.029    1034.311       776.718  9.343  69.9013  66.7424    73.3675  57.3985   54.4537     60.6151  14.4756   12.9443     15.9954  6.6552    6.0473      7.1300       118.798  26.5258         4362.058       138.024        627.988         0.0                     0          0                  0                      0
1          2  Geographic region  Northern America  1961        197442.207             97936.970               99505.237     10.5857      98.4239       28.1567   2680.926       13.601   3246.751          1.644       42.1622  4483.977     585.962  22.748  3.5488  1.6666  26.581  105.1  1803.051    1027.379       775.672  9.147  70.3119  67.1449    73.7639  57.7178   54.7508     60.9357  14.6697   13.0990     16.2107  6.7526    6.1122      7.2488       115.005  25.5539         4382.425       133.223        565.841       823.5                     1          0                  0                      0
2          2  Geographic region  Northern America  1962        200623.682             99396.828              101226.855     10.7562      98.1922       27.9461   2539.966       12.683   3116.199          1.553       44.6328  4399.920     580.432  21.971  3.4232  1.6089  26.591  104.9  1859.954    1055.961       803.993  9.288  70.1879  67.0010    73.6503  57.5718   54.5797     60.8059  14.5842   12.9796     16.1451  6.6776    6.0344      7.1723       112.571  25.4270         4300.720       130.447        576.239       400.0                     0          1                  0                      0
3          2  Geographic region  Northern America  1963        203706.745            100810.932              102895.813     10.9215      97.9738       27.6784   2420.287       11.904   3049.927          1.497       46.3024  4339.926     560.126  21.345  3.3091  1.5525  26.646  105.2  1919.639    1090.319       829.320  9.441  70.0354  66.7755    73.5790  57.4027   54.3353     60.7186  14.4855   12.8111     16.1078  6.6094    5.9385      7.1237       110.076  25.2159         4242.808       128.254        629.658        25.0                     0          2                  0                      0
4          2  Geographic region  Northern America  1964        206691.982            102177.942              104514.040     11.0816      97.7648       27.4057   2360.106       11.438   2920.545          1.413       49.0550  4263.644     561.530  20.663  3.1737  1.4926  26.698  104.8  1903.538    1080.766       822.772  9.225  70.3075  66.9695    73.9130  57.6398   54.4862     61.0263  14.7680   13.0489     16.4068  6.8199    6.1323      7.3369       106.315  24.7880         4169.696       123.833        560.473       230.0                     0          1                  0                      0

In [ ]:
data_Geographic_region_specific2.to_csv('/content/drive/MyDrive/data_Geographic_region_specific.csv')

In [ ]:
data_country_specific.head()

   LocTypeID   LocTypeName Location  Time  TPopulation1July  TPopulationMale1July  TPopulationFemale1July  PopDensity  PopSexRatio  MedianAgePop  NatChange  NatChangeRT  PopChange  PopGrowthRate  DoublingTime   Births  Births1519     CBR     TFR     NRR     MAC    SRB  Deaths  DeathsMale  DeathsFemale     CDR      LEx  LExMale  LExFemale     LE15  LE15Male  LE15Female     LE65  LE65Male  LE65Female    LE80  LE80Male  LE80Female  InfantDeaths       IMR  LBsurvivingAge1  Under5Deaths  NetMigrations
0          4  Country/Area  Burundi  1950          2254.113              1079.773                1174.340     86.8637      91.9472       18.3147     62.914       27.788     49.581          2.200       31.5067  116.224      11.270  51.334  6.9229  2.0471  30.995  102.5  53.310      27.069        26.241  23.546  40.5788  39.2465    41.8528  44.9165   43.7326     45.9999  11.0464   10.6233     11.3950  4.7281    4.4681      4.9251        18.127  166.9203          103.226        29.001        -13.343
1          4  Country/Area  Burundi  1951          2303.248              1104.544                1198.705     88.7571      92.1448       18.0842     61.906       26.799     48.690          2.114       32.7884  117.067      11.370  50.678  6.9139  2.0584  30.996  102.5  55.161      28.189        26.972  23.879  40.8115  39.3452    42.2228  45.0658   43.7438     46.2827  11.1033   10.6267     11.4958  4.7591    4.4697      4.9762        19.392  165.9564          104.050        30.669        -13.217
2          4  Country/Area  Burundi  1952          2351.536              1128.810                1222.726     90.6179      92.3191       17.8744     61.601       26.118     47.885          2.036       34.0446  117.770      11.325  49.933  6.9002  2.0621  31.026  102.5  56.169      28.679        27.490  23.815  41.0034  39.5682    42.3821  45.0856   43.7955     46.2686  11.1105   10.6430     11.4913  4.7637    4.4776      4.9740        19.278  163.9716          104.832        31.272        -13.715
3          4  Country/Area  Burundi  1953          2399.099              1152.736                1246.363     92.4508      92.4880       17.6693     62.202       25.844     47.243          1.969       35.2030  119.013      11.424  49.448  6.9146  2.0779  31.030  102.5  56.811      28.988        27.823  23.604  41.2815  39.8589    42.6454  45.1938   43.8980     46.3800  11.1486   10.6819     11.5251  4.7835    4.4984      4.9887        19.220  162.0241          106.093        31.644        -14.962
4          4  Country/Area  Burundi  1954          2446.758              1176.706                1270.051     94.2874      92.6503       17.4706     62.673       25.536     48.073          1.965       35.2747  119.972      11.635  48.883  6.9170  2.0918  31.036  102.5  57.299      29.270        28.029  23.347  41.5582  40.0997    42.9584  45.3182   43.9928     46.5319  11.1891   10.7073     11.5765  4.8031    4.5096      5.0136        19.162  160.1124          107.102        31.915        -14.599

In [ ]:
Unemployment_data = pd.read_csv("/content/drive/MyDrive/test_data/Unemployment_transformed.csv")
Unemployment_data.head()

   Unnamed: 0 Country_Name Country_Code  Year  Unemployment
0           0        Aruba          ABW  1960           NaN
1           1        Aruba          ABW  1961           NaN
2           2        Aruba          ABW  1962           NaN
3           3        Aruba          ABW  1963           NaN
4           4        Aruba          ABW  1964           NaN

In [ ]:
Unemployment_data = Unemployment_data.drop(['Unnamed: 0','Country_Code'], axis = 1)
Unemployment_data.head()

  Country_Name  Year  Unemployment
0        Aruba  1960           NaN
1        Aruba  1961           NaN
2        Aruba  1962           NaN
3        Aruba  1963           NaN
4        Aruba  1964           NaN

In [ ]:
GDP_transformed_data = pd.read_csv("/content/drive/MyDrive/test_data/GDP_transformed.csv")
GDP_transformed_data.head()

   Unnamed: 0 Country_Name Country_Code  Year  GDP
0           0        Aruba          ABW  1960  NaN
1           1        Aruba          ABW  1961  NaN
2           2        Aruba          ABW  1962  NaN
3           3        Aruba          ABW  1963  NaN
4           4        Aruba          ABW  1964  NaN

In [ ]:
GDP_transformed_data = GDP_transformed_data.drop(['Unnamed: 0','Country_Code'], axis = 1)
GDP_transformed_data.head()

  Country_Name  Year  GDP
0        Aruba  1960  NaN
1        Aruba  1961  NaN
2        Aruba  1962  NaN
3        Aruba  1963  NaN
4        Aruba  1964  NaN

In [ ]:
l1 = list(Unemployment_data['Country_Name'].unique())
l2 = sorted(l1)
l2

In [ ]:
l3 = list(data_country_specific['Location'].unique())
l4 = sorted(l3)
l4

In [ ]:
df = pd.DataFrame({'unemployment': pd.Series(l2), 'country_specific': pd.Series(l4)})

In [ ]:
df

                                          unemployment                    country_specific
0                                          Afghanistan                         Afghanistan
1                          Africa Eastern and Southern                             Albania
2                           Africa Western and Central                             Algeria
3                                              Albania                      American Samoa
4                                              Algeria                             Andorra
5                                       American Samoa                              Angola
6                                              Andorra                            Anguilla
7                                               Angola                 Antigua and Barbuda
8                                  Antigua and Barbuda                           Argentina
9                                           Arab World                             Armenia
10                                           Argentina                               Aruba
11                                             Armenia                           Australia
12                                               Aruba                             Austria
13                                           Australia                          Azerbaijan
14                                             Austria                             Bahamas
15                                          Azerbaijan                             Bahrain
16                                        Bahamas, The                          Bangladesh
17                                             Bahrain                            Barbados
18                                          Bangladesh                             Belarus
19                                            Barbados                             Belgium
20                                             Belarus                              Belize
21                                             Belgium                               Benin
22                                              Belize                             Bermuda
23                                               Benin                              Bhutan
24                                             Bermuda    Bolivia (Plurinational State of)
25                                              Bhutan    Bonaire, Sint Eustatius and Saba
26                                             Bolivia              Bosnia and Herzegovina
27                              Bosnia and Herzegovina                            Botswana
28                                            Botswana                              Brazil
29                                              Brazil              British Virgin Islands
30                              British Virgin Islands                   Brunei Darussalam
31                                   Brunei Darussalam                            Bulgaria
32                                            Bulgaria                        Burkina Faso
33                                        Burkina Faso                             Burundi
34                                             Burundi                          Cabo Verde
35                                          Cabo Verde                            Cambodia
36                                            Cambodia                            Cameroon
37                                            Cameroon                              Canada
38                                              Canada                      Cayman Islands
39                              Caribbean small states            Central African Republic
40                                      Cayman Islands                                Chad
41                            Central African Republic                               Chile
42                      Central Europe and the Baltics                               China
43                                                Chad                China, Hong Kong SAR
44                                     Channel Islands                    China, Macao SAR
45                                               Chile     China, Taiwan Province of China
46                                               China                            Colombia
47                                            Colombia                             Comoros
48                                             Comoros                               Congo
49                                    Congo, Dem. Rep.                        Cook Islands
50                                         Congo, Rep.                          Costa Rica
51                                          Costa Rica                             Croatia
52                                       Cote d'Ivoire                                Cuba
53                                             Croatia                             Curaçao
54                                                Cuba                              Cyprus
55                                             Curacao                             Czechia
56                                              Cyprus                       Côte d'Ivoire
57                                             Czechia     Dem. People's Republic of Korea
58                                             Denmark    Democratic Republic of the Congo
59                                            Djibouti                             Denmark
60                                            Dominica                            Djibouti
61                                  Dominican Republic                            Dominica
62                          Early-demographic dividend                  Dominican Republic
63                                 East Asia & Pacific                             Ecuador
64          East Asia & Pacific (IDA & IBRD countries)                               Egypt
65         East Asia & Pacific (excluding high income)                         El Salvador
66                                             Ecuador                   Equatorial Guinea
67                                    Egypt, Arab Rep.                             Eritrea
68                                         El Salvador                             Estonia
69                                   Equatorial Guinea                            Eswatini
70                                             Eritrea                            Ethiopia
71                                             Estonia         Falkland Islands (Malvinas)
72                                            Eswatini                       Faroe Islands
73                                            Ethiopia                                Fiji
74                                           Euro area                             Finland
75                               Europe & Central Asia                              France
76        Europe & Central Asia (IDA & IBRD countries)                       French Guiana
77       Europe & Central Asia (excluding high income)                    French Polynesia
78                                      European Union                               Gabon
79                                       Faroe Islands                              Gambia
80                                                Fiji                             Georgia
81                                             Finland                             Germany
82            Fragile and conflict affected situations                               Ghana
83                                              France                           Gibraltar
84                                    French Polynesia                              Greece
85                                               Gabon                           Greenland
86                                         Gambia, The                             Grenada
87                                             Georgia                          Guadeloupe
88                                             Germany                                Guam
89                                               Ghana                           Guatemala
90                                           Gibraltar                            Guernsey
91                                              Greece                              Guinea
92                                           Greenland                       Guinea-Bissau
93                                             Grenada                              Guyana
94                                                Guam                               Haiti
95                                           Guatemala                            Holy See
96                                              Guinea                            Honduras
97                                       Guinea-Bissau                             Hungary
98                                              Guyana                             Iceland
99                                               Haiti                               India
100             Heavily indebted poor countries (HIPC)                           Indonesia
101                                        High income          Iran (Islamic Republic of)
102                                           Honduras                                Iraq
103                               Hong Kong SAR, China                             Ireland
104                                            Hungary                         Isle of Man
105                                          IBRD only                              Israel
106                                   IDA & IBRD total                               Italy
107                                          IDA blend                             Jamaica
108                                           IDA only                               Japan
109                                          IDA total                              Jersey
110                                            Iceland                              Jordan
111                                              India                          Kazakhstan
112                                          Indonesia                               Kenya
113                                 Iran, Islamic Rep.                            Kiribati
114                                               Iraq       Kosovo (under UNSC res. 1244)
115                                            Ireland                              Kuwait
116                                        Isle of Man                          Kyrgyzstan
117                                             Israel    Lao People's Democratic Republic
118                                              Italy                              Latvia
119                                            Jamaica                             Lebanon
120                                              Japan                             Lesotho
121                                             Jordan                             Liberia
122                                         Kazakhstan                               Libya
123                                              Kenya                       Liechtenstein
124                                           Kiribati                           Lithuania
125                          Korea, Dem. People's Rep.                          Luxembourg
126                                        Korea, Rep.                          Madagascar
127                                             Kosovo                              Malawi
128                                             Kuwait                            Malaysia
129                                    Kyrgyz Republic                            Maldives
130                                            Lao PDR                                Mali
131                          Late-demographic dividend                               Malta
132                          Latin America & Caribbean                    Marshall Islands
133  Latin America & Caribbean (excluding high income)                          Martinique
134  Latin America & the Caribbean (IDA & IBRD coun...                          Mauritania
135                                             Latvia                           Mauritius
136       Least developed countries: UN classification                             Mayotte
137                                            Lebanon                              Mexico
138                                            Lesotho         Micronesia (Fed. States of)
139                                            Liberia                              Monaco
140                                              Libya                            Mongolia
141                                      Liechtenstein                          Montenegro
142                                          Lithuania                          Montserrat
143                                Low & middle income                             Morocco
144                                         Low income                          Mozambique
145                                Lower middle income                             Myanmar
146                                         Luxembourg                             Namibia
147                                   Macao SAR, China                               Nauru
148                                         Madagascar                               Nepal
149                                             Malawi                         Netherlands
150                                           Malaysia                       New Caledonia
151                                           Maldives                         New Zealand
152                                               Mali                           Nicaragua
153                                              Malta                               Niger
154                                   Marshall Islands                             Nigeria
155                                         Mauritania                                Niue
156                                          Mauritius                     North Macedonia
157                                             Mexico            Northern Mariana Islands
158                              Micronesia, Fed. Sts.                              Norway
159                         Middle East & North Africa                                Oman
160  Middle East & North Africa (IDA & IBRD countries)                            Pakistan
161  Middle East & North Africa (excluding high inc...                               Palau
162                                      Middle income                              Panama
163                                            Moldova                    Papua New Guinea
164                                             Monaco                            Paraguay
165                                           Mongolia                                Peru
166                                         Montenegro                         Philippines
167                                            Morocco                              Poland
168                                         Mozambique                            Portugal
169                                            Myanmar                         Puerto Rico
170                                            Namibia                               Qatar
171                                              Nauru                   Republic of Korea
172                                              Nepal                 Republic of Moldova
173                                        Netherlands                             Romania
174                                      New Caledonia                  Russian Federation
175                                        New Zealand                              Rwanda
176                                          Nicaragua                             Réunion
177                                              Niger                    Saint Barthélemy
178                                            Nigeria                        Saint Helena
179                                      North America               Saint Kitts and Nevis
180                                    North Macedonia                         Saint Lucia
181                           Northern Mariana Islands          Saint Martin (French part)
182                                             Norway           Saint Pierre and Miquelon
183                                     Not classified    Saint Vincent and the Grenadines
184                                       OECD members                               Samoa
185                                               Oman                          San Marino
186                                 Other small states               Sao Tome and Principe
187                        Pacific island small states                        Saudi Arabia
188                                           Pakistan                             Senegal
189                                              Palau                              Serbia
190                                             Panama                          Seychelles
191                                   Papua New Guinea                        Sierra Leone
192                                           Paraguay                           Singapore
193                                               Peru           Sint Maarten (Dutch part)
194                                        Philippines                            Slovakia
195                                             Poland                            Slovenia
196                                           Portugal                     Solomon Islands
197                          Post-demographic dividend                             Somalia
198                           Pre-demographic dividend                        South Africa
199                                        Puerto Rico                         South Sudan
200                                              Qatar                               Spain
201                                            Romania                           Sri Lanka
202                                 Russian Federation                  State of Palestine
203                                             Rwanda                               Sudan
204                                              Samoa                            Suriname
205                                         San Marino                              Sweden
206                              Sao Tome and Principe                         Switzerland
207                                       Saudi Arabia                Syrian Arab Republic
208                                            Senegal                          Tajikistan
209                                             Serbia                            Thailand
210                                         Seychelles                         Timor-Leste
211                                       Sierra Leone                                Togo
212                                          Singapore                             Tokelau
213                          Sint Maarten (Dutch part)                               Tonga
214                                    Slovak Republic                 Trinidad and Tobago
215                                           Slovenia                             Tunisia
216                                       Small states                        Turkmenistan
217                                    Solomon Islands            Turks and Caicos Islands

In [ ]:
Unemployment_data['Country_Name'] = Unemployment_data['Country_Name'].replace({'Bahamas, The': 'Bahamas', 'Egypt, Arab Rep.': 'Egypt',
                                                                               'Gambia, The': 'Gambia', 'Iran, Islamic Rep.':'Iran (Islamic Republic of)',
                                                                               'Korea, Rep.':'Republic of Korea', 'Kyrgyz Republic':'Kyrgyzstan', 'Moldova':'Republic of Moldova',
                                                                               'Slovak Republic': 'Slovakia','Tanzania':'United Republic of Tanzania', 'United States':'United States of America',
                                                                               'Venezuela, RB':'Venezuela (Bolivarian Republic of)', 'Yemen, Rep.': 'Yemen'})

In [ ]:
Unemployment_data.shape

(16492, 3)

In [ ]:
values = ['Africa Eastern and Southern', 'Africa Western and Central','Arab World','Caribbean small states','Central Europe and the Baltics','Channel Islands','Early-demographic dividend',
          'East Asia & Pacific', 'East Asia & Pacific (IDA & IBRD countries)', 'East Asia & Pacific (excluding high income)','Euro area','Europe & Central Asia','Europe & Central Asia (IDA & IBRD countries)',
          'Europe & Central Asia (excluding high income)','European Union','Fragile and conflict affected situations','Heavily indebted poor countries (HIPC)', 'High income', 'IBRD only','IDA & IBRD total',
          'IDA blend','IDA only','IDA total', 'North America', 'Not classified', 'OECD members', 'Middle East & North Africa','Middle East & North Africa (IDA & IBRD countries)', 'Middle East & North Africa (excluding high income)',
          'Middle income', 'Low & middle income', 'Low income', 'Lower middle income', 'Least developed countries: UN classification', 'Latin America & the Caribbean (IDA & IBRD countries)', 'Latin America & Caribbean (excluding high income)',
          'Latin America & Caribbean', 'Late-demographic dividend','Other small states', 'Pacific island small states', 'Post-demographic dividend', 'Pre-demographic dividend', 'Small states', 'South Asia', 'South Asia (IDA & IBRD)', 'Sub-Saharan Africa',
          'Sub-Saharan Africa (IDA & IBRD countries)', 'Sub-Saharan Africa (excluding high income)', 'Upper middle income','World','West Bank and Gaza']

Unemployment_data = Unemployment_data[Unemployment_data.Country_Name.isin(values) == False]

In [ ]:
Unemployment_data.shape

(13330, 3)

In [ ]:
GDP_transformed_data['Country_Name'] = GDP_transformed_data['Country_Name'].replace({'Bahamas, The': 'Bahamas', 'Egypt, Arab Rep.': 'Egypt',
                                                                               'Gambia, The': 'Gambia', 'Iran, Islamic Rep.':'Iran (Islamic Republic of)',
                                                                               'Korea, Rep.':'Republic of Korea', 'Kyrgyz Republic':'Kyrgyzstan', 'Moldova':'Republic of Moldova',
                                                                               'Slovak Republic': 'Slovakia','Tanzania':'United Republic of Tanzania', 'United States':'United States of America',
                                                                               'Venezuela, RB':'Venezuela (Bolivarian Republic of)', 'Yemen, Rep.': 'Yemen'})

In [ ]:
GDP_transformed_data.shape

(16492, 3)

In [ ]:
values = ['Africa Eastern and Southern', 'Africa Western and Central','Arab World','Caribbean small states','Central Europe and the Baltics','Channel Islands','Early-demographic dividend',
          'East Asia & Pacific', 'East Asia & Pacific (IDA & IBRD countries)', 'East Asia & Pacific (excluding high income)','Euro area','Europe & Central Asia','Europe & Central Asia (IDA & IBRD countries)',
          'Europe & Central Asia (excluding high income)','European Union','Fragile and conflict affected situations','Heavily indebted poor countries (HIPC)', 'High income', 'IBRD only','IDA & IBRD total',
          'IDA blend','IDA only','IDA total', 'North America', 'Not classified', 'OECD members', 'Middle East & North Africa','Middle East & North Africa (IDA & IBRD countries)', 'Middle East & North Africa (excluding high income)',
          'Middle income', 'Low & middle income', 'Low income', 'Lower middle income', 'Least developed countries: UN classification', 'Latin America & the Caribbean (IDA & IBRD countries)', 'Latin America & Caribbean (excluding high income)',
          'Latin America & Caribbean', 'Late-demographic dividend','Other small states', 'Pacific island small states', 'Post-demographic dividend', 'Pre-demographic dividend', 'Small states', 'South Asia', 'South Asia (IDA & IBRD)', 'Sub-Saharan Africa',
          'Sub-Saharan Africa (IDA & IBRD countries)', 'Sub-Saharan Africa (excluding high income)', 'Upper middle income','World','West Bank and Gaza']

GDP_transformed_data = GDP_transformed_data[GDP_transformed_data.Country_Name.isin(values) == False]

In [ ]:
GDP_transformed_data.shape

(13330, 3)

In [ ]:
data_country_specific['Location'] = data_country_specific['Location'].replace({'Bolivia (Plurinational State of)': 'Bolivia', 'China, Hong Kong SAR': 'Hong Kong SAR, China',
                                                                               'China, Macao SAR': 'Macao SAR, China', "Dem. People's Republic of Korea":"Korea, Dem. People's Rep.",
                                                                               "Côte d'Ivoire":"Cote d'Ivoire", 'Democratic Republic of the Congo':'Congo, Dem. Rep.', 'Congo':'Congo, Rep.',
                                                                               'Kosovo (under UNSC res. 1244)': 'Kosovo','Saint Kitts and Nevis':'St. Kitts and Nevis', 'Saint Lucia':'St. Lucia',
                                                                               'Saint Martin (French part)':'St. Martin (French part)', 'Saint Vincent and the Grenadines': 'St. Vincent and the Grenadines',
                                                                               'Türkiye':'Turkiye', 'United States Virgin Islands':'Virgin Islands (U.S.)','Viet Nam':'Vietnam', "Lao People's Democratic Republic":"Lao PDR"})

In [ ]:
data_country_specific.shape

(36024, 43)

In [ ]:
values = ['Anguilla', 'Bonaire, Sint Eustatius and Saba','China, Taiwan Province of China','Cook Islands','Falkland Islands (Malvinas)','French Guiana','Guadeloupe','Guernsey',
          'Holy See', 'Jersey', 'Martinique', 'Mayotte', 'Montserrat', 'Niue', 'Réunion', 'Saint Barthélemy','Saint Helena','Saint Pierre and Miquelon', 'State of Palestine', 'Tokelau',
          'Wallis and Futuna Islands', 'Western Sahara']

data_country_specific = data_country_specific[data_country_specific.Location.isin(values) == False]

In [ ]:
data_country_specific.shape

(32680, 43)

In [ ]:

data_country_specific = data_country_specific[data_country_specific['Time'] <= 2020]
data_country_specific = data_country_specific[data_country_specific['Time'] >= 1960]
data_country_specific = data_country_specific.reset_index(drop=True)
data_country_specific.shape

(13115, 43)

In [ ]:
Unemployment_data = Unemployment_data[Unemployment_data['Year'] <= 2020]
Unemployment_data = Unemployment_data.reset_index(drop=True)
Unemployment_data.shape

(13115, 3)

In [ ]:
GDP_transformed_data = GDP_transformed_data[GDP_transformed_data['Year'] <= 2020]
GDP_transformed_data = GDP_transformed_data.reset_index(drop=True)
GDP_transformed_data.shape

(13115, 3)

In [ ]:
data_country_specific2 = data_country_specific.sort_values(['Location', 'Time'], ascending=[True, True])
data_country_specific2 = data_country_specific2.reset_index(drop=True)
data_country_specific2

       LocTypeID   LocTypeName     Location  Time  TPopulation1July  TPopulationMale1July  TPopulationFemale1July  PopDensity  PopSexRatio  MedianAgePop  NatChange  NatChangeRT  PopChange  PopGrowthRate  DoublingTime   Births  Births1519     CBR     TFR     NRR     MAC    SRB   Deaths  DeathsMale  DeathsFemale     CDR      LEx  LExMale  LExFemale     LE15  LE15Male  LE15Female     LE65  LE65Male  LE65Female    LE80  LE80Male  LE80Female  InfantDeaths       IMR  LBsurvivingAge1  Under5Deaths  NetMigrations
0              4  Country/Area  Afghanistan  1960          8622.466              4476.521                4145.945     13.2797     107.9735       17.9998    158.818       18.419    161.436          1.872       37.0271  434.057      59.574  50.340  7.2817  1.8026  29.651  104.9  275.239     147.069       128.170  31.921  32.5346  31.8703    33.2849  38.2454   37.6459     39.0176   9.1927    8.8874      9.5773  4.0539    3.9313      4.1994       103.790  240.5329          364.106       151.545          2.606
1              4  Country/Area  Afghanistan  1961          8790.140              4556.369                4233.771     13.5380     107.6196       17.9244    167.811       19.094    173.912          1.979       35.0251  443.319      61.518  50.443  7.2842  1.8289  29.651  104.9  275.508     146.981       128.527  31.349  33.0681  32.4086    33.8128  38.5507   37.9509     39.3189   9.2735    8.9651      9.6573  4.0900    3.9663      4.2350       104.080  236.1826          373.167       152.016          6.109
2              4  Country/Area  Afghanistan  1962          8969.046              4642.166                4326.881     13.8135     107.2866       17.8525    176.875       19.725    183.901          2.050       33.8121  453.468      63.646  50.570  7.2918  1.8541  29.663  104.9  276.593     147.393       129.200  30.845  33.5471  32.8833    34.2969  38.8144   38.2066     39.5892   9.3435    9.0281      9.7308  4.1211    3.9945      4.2681       104.617  232.1626          382.932       152.887          7.016
3              4  Country/Area  Afghanistan  1963          9157.464              4732.954                4424.510     14.1037     106.9712       17.7876    186.264       20.344    192.935          2.107       32.8974  464.225      65.672  50.703  7.3016  1.8795  29.677  104.9  277.961     147.965       129.996  30.359  34.0162  33.3461    34.7731  39.0715   38.4527     39.8573   9.4111    9.0874      9.8036  4.1511    4.0207      4.3010       105.263  228.2390          393.236       153.919          6.681
4              4  Country/Area  Afghanistan  1964          9355.514              4828.822                4526.692     14.4087     106.6744       17.7305    196.084       20.964    203.164          2.172       31.9129  475.452      68.366  50.831  7.3043  1.9033  29.662  104.9  279.368     148.508       130.860  29.867  34.4942  33.8282    35.2464  39.3312   38.7093     40.1181   9.4799    9.1502      9.8749  4.1812    4.0481      4.3326       105.942  224.3317          403.990       154.971          7.079
...          ...           ...          ...   ...               ...                   ...                     ...         ...          ...           ...        ...          ...        ...            ...           ...      ...         ...     ...     ...     ...     ...    ...      ...         ...           ...     ...      ...      ...        ...      ...       ...         ...      ...       ...         ...     ...       ...         ...           ...       ...              ...           ...            ...
13110          4  Country/Area     Zimbabwe  2016         14452.704              6796.658                7656.047     37.3600      88.7750       17.1543    358.160       24.730    298.237          2.064       33.5827  480.406      85.525  33.171  3.7714  1.6698  27.957  102.1  122.246      61.762        60.484   8.441  60.3059  57.9562    62.4161  49.6086   47.3922     51.5446  13.5372   12.4248     14.4471  6.7904    6.0570      7.3040        19.043   39.6049          464.459        27.570        -59.918
13111          4  Country/Area     Zimbabwe  2017         14751.101              6940.630                7810.471     38.1313      88.8632       17.3043    358.458       24.250    298.556          2.024       34.2464  480.635      85.929  32.516  3.7064  1.6464  27.979  102.2  122.177      62.092        60.084   8.266  60.7095  58.2078    62.9561  49.9204   47.5347     52.0086  13.5895   12.4335     14.5308  6.8135    6.0671      7.3342        18.619   38.7236          464.979        26.781        -59.918
13112          4  Country/Area     Zimbabwe  2018         15052.184              7086.002                7966.182     38.9096      88.9511       17.4780    363.531       24.102    303.610          2.017       34.3653  483.783      88.194  32.074  3.6591  1.6336  27.956  102.3  120.252      60.873        59.379   7.972  61.4141  58.9685    63.5940  50.4601   48.1181     52.4966  13.6681   12.4796     14.6291  6.8399    6.0785      7.3687        18.057   37.3543          468.496        25.638        -59.918
13113          4  Country/Area     Zimbabwe  2019         15354.608              7231.990                8122.618     39.6914      89.0352       17.6663    361.162       23.475    301.237          1.962       35.3286  484.906      88.507  31.518  3.5994  1.6067  27.934  102.3  123.744      63.152        60.592   8.043  61.2925  58.6436    63.6614  50.3422   47.7728     52.5891  13.6739   12.4448     14.6607  6.8614    6.0872      7.3948        18.038   37.1948          469.639        25.641        -59.918
13114          4  Country/Area     Zimbabwe  2020         15669.666              7385.220                8284.446     40.5058      89.1456       17.8657    358.842       22.877    328.880          2.099       33.0227  486.393      88.099  31.009  3.5451  1.5910  27.916  102.4  127.551      66.267        61.284   8.132  61.1242  58.1294    63.8616  50.0687   47.1293     52.7070  13.0986   11.7059     14.2509  6.5717    5.6391      7.2447        17.903   36.8097          471.214        25.293        -29.955

[13115 rows x 43 columns]

In [ ]:
Unemployment_data2 = Unemployment_data.sort_values(['Country_Name', 'Year'], ascending=[True, True])
Unemployment_data2 = Unemployment_data2.reset_index(drop=True)
Unemployment_data2

      Country_Name  Year  Unemployment
0      Afghanistan  1960           NaN
1      Afghanistan  1961           NaN
2      Afghanistan  1962           NaN
3      Afghanistan  1963           NaN
4      Afghanistan  1964           NaN
...            ...   ...           ...
13110     Zimbabwe  2016           NaN
13111     Zimbabwe  2017           NaN
13112     Zimbabwe  2018           NaN
13113     Zimbabwe  2019          7.37
13114     Zimbabwe  2020           NaN

[13115 rows x 3 columns]

In [ ]:
GDP_transformed_data2 = GDP_transformed_data.sort_values(['Country_Name', 'Year'], ascending=[True, True])
GDP_transformed_data2 = GDP_transformed_data2.reset_index(drop=True)
GDP_transformed_data2

      Country_Name  Year       GDP
0      Afghanistan  1960       NaN
1      Afghanistan  1961       NaN
2      Afghanistan  1962       NaN
3      Afghanistan  1963       NaN
4      Afghanistan  1964       NaN
...            ...   ...       ...
13110     Zimbabwe  2016  0.755869
13111     Zimbabwe  2017  4.709492
13112     Zimbabwe  2018  4.824211
13113     Zimbabwe  2019 -6.144236
13114     Zimbabwe  2020 -6.248748

[13115 rows x 3 columns]

In [ ]:
l11 = (Unemployment_data2['Unemployment']).to_list()
l11

In [ ]:
l22 = (GDP_transformed_data2['GDP']).to_list()
l22

In [ ]:
data_country_specific2['Unemployment'] = l11
data_country_specific2['GDP'] = l22
data_country_specific2.head()

   LocTypeID   LocTypeName     Location  Time  TPopulation1July  TPopulationMale1July  TPopulationFemale1July  PopDensity  PopSexRatio  MedianAgePop  NatChange  NatChangeRT  PopChange  PopGrowthRate  DoublingTime   Births  Births1519     CBR     TFR     NRR     MAC    SRB   Deaths  DeathsMale  DeathsFemale     CDR      LEx  LExMale  LExFemale     LE15  LE15Male  LE15Female    LE65  LE65Male  LE65Female    LE80  LE80Male  LE80Female  InfantDeaths       IMR  LBsurvivingAge1  Under5Deaths  NetMigrations  Unemployment  GDP
0          4  Country/Area  Afghanistan  1960          8622.466              4476.521                4145.945     13.2797     107.9735       17.9998    158.818       18.419    161.436          1.872       37.0271  434.057      59.574  50.340  7.2817  1.8026  29.651  104.9  275.239     147.069       128.170  31.921  32.5346  31.8703    33.2849  38.2454   37.6459     39.0176  9.1927    8.8874      9.5773  4.0539    3.9313      4.1994       103.790  240.5329          364.106       151.545          2.606           NaN  NaN
1          4  Country/Area  Afghanistan  1961          8790.140              4556.369                4233.771     13.5380     107.6196       17.9244    167.811       19.094    173.912          1.979       35.0251  443.319      61.518  50.443  7.2842  1.8289  29.651  104.9  275.508     146.981       128.527  31.349  33.0681  32.4086    33.8128  38.5507   37.9509     39.3189  9.2735    8.9651      9.6573  4.0900    3.9663      4.2350       104.080  236.1826          373.167       152.016          6.109           NaN  NaN
2          4  Country/Area  Afghanistan  1962          8969.046              4642.166                4326.881     13.8135     107.2866       17.8525    176.875       19.725    183.901          2.050       33.8121  453.468      63.646  50.570  7.2918  1.8541  29.663  104.9  276.593     147.393       129.200  30.845  33.5471  32.8833    34.2969  38.8144   38.2066     39.5892  9.3435    9.0281      9.7308  4.1211    3.9945      4.2681       104.617  232.1626          382.932       152.887          7.016           NaN  NaN
3          4  Country/Area  Afghanistan  1963          9157.464              4732.954                4424.510     14.1037     106.9712       17.7876    186.264       20.344    192.935          2.107       32.8974  464.225      65.672  50.703  7.3016  1.8795  29.677  104.9  277.961     147.965       129.996  30.359  34.0162  33.3461    34.7731  39.0715   38.4527     39.8573  9.4111    9.0874      9.8036  4.1511    4.0207      4.3010       105.263  228.2390          393.236       153.919          6.681           NaN  NaN
4          4  Country/Area  Afghanistan  1964          9355.514              4828.822                4526.692     14.4087     106.6744       17.7305    196.084       20.964    203.164          2.172       31.9129  475.452      68.366  50.831  7.3043  1.9033  29.662  104.9  279.368     148.508       130.860  29.867  34.4942  33.8282    35.2464  39.3312   38.7093     40.1181  9.4799    9.1502      9.8749  4.1812    4.0481      4.3326       105.942  224.3317          403.990       154.971          7.079           NaN  NaN

In [ ]:
data_country_specific2.to_csv('/content/drive/MyDrive/data_country_specific.csv')